body {
}

.products{
    width:100%;
    background:#f00;
}

table {
    background: #00ff21;
    margin-right: 6px;
}

tbody {
    width: 100%;
    background: #00ff21;
    display: flex;
    justify-content: space-between;
}

tr{
    width: 30%;
}
td {
    width: 100%;
    background: #ff6a00;
    display: block;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:20px;
}
