body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.products{
    width:100%;
    margin-top: 40px;
}

table {
    width:100% !important;
    margin-right: 6px;
}

tbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

tr{
    width: 30%;
}
td {
    width: 100%;
    background: #ffffff;
    display: block;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    margin-top:30px;
}

.productName{
    font-size:18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

.productPrice {
    font-weight:bold;
    text-align: center;
    margin-bottom: 6px;
}

.productDescription{
    font-size:14px;
}

.textForOrder {
    visibility: hidden;
}

.aboutUs h2 {
    color: #84C14C;
    font-weight: 700;
}

.ponudaDana h2 {
    color: #84C14C;
    font-weight: 700;
}




#cart {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.title{
    display: block;
    margin-top:40px;
}

.userInfo {
    width: 60%;
    padding: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.segment-title{
    margin-top: 40px;
    font-size:20px;
    font-weight: bold;
}

.btn-top-margin{
    display:block;
    margin-top: 8px;
}

.btn-add-product{
    width: 100%;
}

.restaurantInfo {
    width: 100%;
    display: flex;
    align-items: center;
    background: url("../pocetnaSlika.jpg");
    background-size: cover;
    color: #fff;
    border-radius: 10px;
}

    .restaurantInfo img {
        width: 200px;
        border-radius: 10px;
    }

.infos {
    margin-left: 40px;
    font-size: 24px;
}

.restaurantName{
    font-weight: bold;
    font-size: 36px;
}


@media only screen and (max-width: 600px) {

    tr {
        width: 100%;
    }

    .restaurantInfo {
        flex-direction:column;
    }

    .infos {
        margin-left: 0;
        margin-top: 30px;
    }

    .userInfo {
        width: 100%;
    }
}