/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Yu Gothic'
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navCustom {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #000;
}

.navCustom a {
    color: #000;
}

.navbar-brand {
    font-weight: 900;
    color: #001645;
    font-size: 30px;
}

.navbar-text {
    font-size: 20px;
    font-weight: 200;
    color: #00229e;
}

.navCustom a:hover {
    transition: 1s;
    background-color: transparent;
}

.footer {
    background-color: #001645;
    text-align: center;
    padding: 100px;
    margin-top: 20px;
    color: #fff;
}

.logReg {
    min-height: 80vh;
}

.logReg h2 {
    font-weight: 700;
}

.btnLogReg {
    padding: 10px 20px;
    font-weight: 700;
    background-color: #0084ff;
    color: #ffffff !important;
    border-radius: 10px;
}

    .btnLogReg:hover {
        background-color: #0065c4;
        color: #000000 !important;
        transition: 3s;
    }

.btnLogRegg {
    padding: 10px 20px;
    font-weight: 700;
    background-color: #0084ff;
    margin-top: 5px;
    color: #ffffff !important;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

.btnLogReg:hover {
    background-color: #00519e;
}

.profilePage {
    min-height: 80vh;
    margin-top: 50px;
}

.profilePage .name {
    font-size: 26px;
    font-weight: 700;
}

    .profilePage .username {
        font-size: 26px;
        font-weight: 700;
        color: #c9c9c9;
    }

    .profilePage .mail {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 700;
    }

    .profilePage .phone {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
    }

    .profilePage .orderBtn {
        padding: 14px 20px;
        font-weight: 700;
        background-color: #EB5757;
        margin-top: 5px;
        color: #ffffff !important;
        margin-top: 50px;
        border: none;
        font-size: 18px;
        border-radius: 10px;
    }

    .profilePage .orderBtn:hover {
        background-color: #d43535;
        transition: 1s;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
